body {
  background: black;
  color: white;
}

#captions {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

#captions p {
  font-size: 2vw;
  line-height: 1.2;
  margin: 4px 0;
}

#captions [lang="de"] {
  color: yellow;
  font-style: italic;
}
